aiofiles==23.2.1
airtest==1.3.4
annotated-types==0.6.0
anyio==4.3.0
apple-compress==0.2.3
arrow==1.3.0
asn1==2.7.0
assure==0.0.6
asttokens==2.4.1
attrs==23.2.0
bcrypt==4.1.3
beautifulsoup4==4.12.3
blessed==1.20.0
bpylist2==4.1.1
bs4==0.0.2
cached-property==1.5.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colored==2.2.4
coloredlogs==15.0.1
compose==1.5.0
construct==2.10.70
cryptography==42.0.7
daemonize==2.5.0
decorator==5.1.1
Deprecated==1.2.14
deprecation==2.1.0
developer-disk-image==0.0.2
distlib==0.3.8
dnspython==2.6.1
docker==4.4.4
docker-compose==1.25.4
dockerpty==0.4.1
docopt==0.6.2
drivers==0.0.5
dulwich==0.22.1
editor==1.6.6
email_validator==2.1.1
enum-compat==0.0.3
et-xmlfile==1.1.0
executing==2.0.1
facebook-wda==1.4.7
fastapi==0.111.0
fastapi-cli==0.0.4
ffmpeg-python==0.2.0
filelock==3.14.0
fleep==1.0.1
fsspec==2024.3.1
future==1.0.0
gitdb2==2.0.6
GitPython==2.1.15
gpxpy==1.5.0
h11==0.14.0
hexdump==3.3
hrpc==1.0.9
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.23.0
humanfriendly==10.0
hyperframe==6.0.1
idna==3.7
ifaddr==0.2.0
iniconfig==2.0.0
inquirer3==0.6.0
ipsw-parser==1.2.3
ipython==8.24.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jsonschema==3.2.0
la_panic==0.4.9
logdir==0.13.0
loguru==0.7.2
logzero==1.7.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
mdurl==0.1.2
mmry==0.0.8
mss==6.1.0
nest-asyncio==1.6.0
nose==1.3.7
numpy==1.26.4
opack==0.1.0
opencv-contrib-python==4.6.0.66
openpyxl==3.1.5
orjson==3.10.3
package_name==0.1
packaging==24.0
parameter-decorators==0.0.2
paramiko==3.4.0
parso==0.8.4
pexpect==4.9.0
pillow==10.3.0
platformdirs==4.2.2
pluggy==1.5.0
plumbum==1.8.3
poco==0.99.1
pocoui==1.0.94
pocoui_lib==1.1.3
prompt-toolkit==3.0.43
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyaml==19.12.0
pyasn1==0.6.0
pycparser==2.22
pycrashreport==1.2.3
pycryptodome==3.20.0
pydantic==2.7.1
pydantic-extra-types==2.7.0
pydantic-settings==2.2.1
pydantic_core==2.18.2
PyGithub==1.45
Pygments==2.18.0
pygnuutils==0.1.1
pyimg4==0.8.5
PyJWT==2.8.0
pykdebugparser==1.2.4
pylzss==0.3.8
pymobiledevice3==2.30.0
PyNaCl==1.5.0
pyparsing==3.1.2
pypdf==4.2.0
pyrsistent==0.20.0
pysmb==1.2.9.1
pytest==8.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-gitlab==1.15.0
python-multipart==0.0.9
python-slugify==8.0.4
python-xlib==0.33
pytun-pmd3==2.0.7
pyusb==1.2.1
pywinauto==0.6.3
PyYAML==6.0.1
qh3==1.0.7
readchar==4.1.0
regex==2024.5.10
remotezip==0.12.3
requests==2.31.0
retry==0.9.2
rich==13.7.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
runs==1.2.2
safetensors==0.4.3
self==2020.12.3
setuptools==69.5.1
shellingham==1.5.4
shortuuid==1.0.13
simple-tornado==0.2.2
simplejson==3.19.2
six==1.16.0
smmap==5.0.1
smmap2==3.0.1
sniffio==1.3.1
soupsieve==2.5
srptools==1.0.1
stack-data==0.6.3
starlette==0.37.2
svn==1.0.1
tabulate==0.9.0
termcolor==2.4.0
text-unidecode==1.3
texttable==1.7.0
tidevice==0.12.10
tokenizers==0.19.1
toml==0.10.2
tornado==6.4
tqdm==4.66.4
traitlets==5.14.3
transformers==4.40.2
typer==0.12.3
types-python-dateutil==2.9.0.20240316
typing_extensions==4.11.0
ujson==5.10.0
urllib3==2.2.1
uvicorn==0.29.0
uvloop==0.19.0
validators==0.28.1
virtualenv==20.26.3
watchfiles==0.21.0
wcwidth==0.2.13
websocket-client==0.48.0
websockets==12.0
wrapt==1.16.0
wsproto==1.2.0
xmod==1.8.1
xonsh==0.16.0
zeroconf==0.132.2
